.App {
  display: flex;
  width: 100%;
  height: 80vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  width: 30%;
  min-height: 250px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.list-group {
  width: 100%;
  text-align: justify;
}

.button {
  margin-top: 20px;
  width: 100%;
}